---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import Footer from '@components/Footer.astro'
import MainNavigation from '@components/MainNavigation.astro'

const notes = (await getCollection('notes')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainNavigation />
    <main>
      <h1 class="title">Notes</h1>
      <section>
        <ul>
          {
            notes.map((note) => (
              <li>
                <a href={`/notes/${note.slug}/`}>
                  <p class="date">
                    <FormattedDate date={note.data.pubDate} />
                  </p>
                  <h4 class="note-title">{note.data.title}</h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      :root {
        --notelist-title-hover-color: var(--c-primary);
        --notelist-date-color: var(--color-grey-600);
        --notelist-bottom-border-color: var(--c-primary);
      }

      body {
        display: grid;
        grid-template-rows: auto min-content;
      }

      section {
        padding: 1rem;
      }

      .title {
        text-transform: uppercase;
        font-size: 14vw;
        transform: translateY(-0.3em);
        text-align: right;
        pointer-events: none;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin-bottom: 2rem;
      }

      a {
        text-decoration: none;
      }

      a:hover .note-title {
        color: var(--notelist-title-hover-color);
      }

      .date {
        font-size: 0.7rem;
        color: var(--notelist-date-color);
        text-transform: uppercase;
        letter-spacing: 0.1ch;
      }

      .note-title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
        padding-bottom: 0.2rem;
        border-bottom: 5px var(--notelist-bottom-border-color) solid;
      }

      @media screen and (min-width: 800px) {
        .date {
          text-align: right;
          padding-bottom: calc(0.2rem + 5px);
        }
        a {
          display: grid;
          gap: 1rem;
          grid-template-columns: 10% 5fr 1fr;
          align-items: end;
        }
      }
    </style>
  </body>
</html>
