---
import type { CollectionEntry } from 'astro:content'
import Spinner from '@components/Spinner.astro'
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import FormattedDate from '@components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage, isDraft, redirectURL, platform } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
		{platform && redirectURL && (
			<meta http-equiv="refresh" content={'2;url=' + redirectURL} />
		)}
  </head>

  <body>
		{platform && redirectURL && (
			<div class="spinner-overlay">
				<Spinner size="5rem" />
			</div>
		)}
    <main>
      <article>
          {
            heroImage && (
							<div class="hero-image">
              	<img width={1020} height={510} src={heroImage} alt="" />
							</div>
            )
          }
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
        </div>
				<slot />
      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
	.spinner-overlay {
		min-height: 100vh;
		display: grid;
		justify-content: center;
		align-content: center;
		background: var(--c-white);
	}

	article {
		font-family: var(--font-prose)
	}
</style>
