---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import Footer from '@components/Footer.astro'
import MainNavigation from '@components/MainNavigation.astro'

const posts = (
  await await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <MainNavigation />
    <main>
      <h1 class="title">Writing</h1>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/writing/${post.slug}/`}>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  <h4 class="post-title">
                    {post.data.title}
                    {post.data.draft && <span class="draft-marker"> 🚧</span>}
                    {post.data.platform && (
                      <span class="platform">{post.data.platform}</span>
                    )}
                  </h4>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
    <style>
      :root {
        --background-color: var(--c-beige-bg);
        --postlist-title-hover-color: var(--c-primary);
        --postlist-date-color: var(--color-grey-700);
        --postlist-bottom-border-color: var(--c-primary);
        --platform-marker-color: var(--color-green-600);
      }

      body {
        display: grid;
        grid-template-rows: auto min-content;
        background-color: var(--background-color);
      }

      section {
        padding: 1rem;
      }

      .title {
        text-transform: uppercase;
        font-size: 14vw;
        transform: translateY(-0.3em);
        text-align: right;
        pointer-events: none;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin-bottom: 2rem;
      }

      a {
        text-decoration: none;
      }

      a:hover .post-title {
        color: var(--postlist-title-hover-color);
      }

      .date {
        font-size: 0.7rem;
        color: var(--postlist-date-color);
        text-transform: uppercase;
        letter-spacing: 0.1ch;
      }

      .post-title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
        padding-bottom: 0.2rem;
        border-bottom: 5px var(--postlist-bottom-border-color) solid;
        transition: all 0.15s;
      }

      .platform {
        display: inline-block;
        transform: translateY(-0.3em);
        padding: 0 0.5rem;
        font-size: 0.8rem;
        color: var(--platform-marker-color);
        border-radius: 4px;
        border: 1px solid var(--platform-marker-color);
      }

      @media screen and (min-width: 800px) {
        .date {
          text-align: right;
          padding-bottom: calc(0.2rem + 5px);
        }
        a {
          display: grid;
          gap: 1rem;
          grid-template-columns: 10% 5fr 1fr;
          align-items: end;
        }
      }
    </style>
  </body>
</html>
