---
import BaseHead from '@components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'

const posts = (
  await await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })
).sort((b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/writing/${post.slug}/`}>
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  {post.data.platform && (
                    <p class="platform">{post.data.platform}</p>
                  )}
                  {post.data.draft && <p class="draft">🚧</p>}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
